# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives
List popular languages for Data Science. <br>
Some of the commonly used libraries used by Data Scientists. <br>
Evaluating arithmetic expressions in Python. <br>
How to provide comments in cell. <br>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. Tensorflow
2. Numpy
3. Scipy
4. Pandas
5. Matplotlib

|Data Science Tools |
|-----|
|SAS|
|Apache Hadoop|
|Tensorflow|

# Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
(200/60)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

# Author
Chirag Rathi